@import "src/@notadd/scss/notadd";
@import "src/@notadd/scss/common";

.right-content {
    padding: 30px;

    .my-content {
        padding: 9px;
        width: 100%;

        .my-info {
            margin: 30px 60px;
            color: #333;
        }
        .form-item-label {
            width: 90px;
            text-align: right;
        }

        .form-item-control {
            color: #333;
        }

        .mat-card-avatar {
            width: 130px;
            height: 130px;
            margin: 0 0 10px 30px;
        }
        .form-item-btn {
            margin: 0 0 0 120px;
        }
    }

}

@include media-breakpoint('xs') {

    .right-content {
        padding: 10px 12px;

        .my-content {
            padding: 10px;

            .my-info {
                margin: 30px auto;
            }

            .input-medium{
                width: 160px !important;
                max-width: 100%;
            }

        }
    }
}
