@import "src/@notadd/scss/notadd";
@import "src/@notadd/scss/common";

.right-content {
    padding: 30px;

    .my-content {
        width: 100%;
    }

    .add-btn{
        margin: 0 0 0 10px;
    }

    .my-table {
        margin: 0 10px 20px 10px;
        .example-container {
            width: 100%;
            overflow: auto;
        }

        table {
            width: 100%;
        }

        td.mat-column-star {
            width: 20px;
            padding-right: 8px;
        }

        th.mat-column-position, td.mat-column-position {
            padding-left: 8px;
        }

        mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
            border-bottom-color: #e8e8e8;
            color: #666;
            font-size: 14px;
        }

        tr.mat-header-row {
            height: 44px;
        }

        th,td{
            padding: 0 5px;
        }
        mat-row, mat-header-row, mat-footer-row, th.mat-header-cell {
            background: #fafafa;
            color: #333;
        }

        .mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
            background-color: #40a9ff;
        }

    }

    .search-form {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        margin: 15px 0 0 0;
    }
    .btn-margin {
        margin: 0 20px 0 0;
    }
    .row-active {
        background: #e6f7ff;
    }
}

@include media-breakpoint('xs') {

    .right-content {
        padding: 10px 12px;

        .my-content {
            padding: 10px 0;
        }
        .my-info {
            margin: 30px auto;
        }

        .input-large{
            width: 160px !important;
            max-width: 100%;
        }
        .flex-row{
            flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
        }
        form{
            padding: 0 10px;
        }

        .form-item{
            margin: 0 10px 5px 0;
        }

        .my-table{
            margin: 0;
        }
    }
}

@include media-breakpoint('sm') {
    .right-content {
        .input-large{
            width: 160px !important;
            max-width: 100%;
        }
        .flex-row{
            flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
        }
    }
}
