<div class="right-content">
    <mat-card class="my-content" id="my-content">
        <div>
            <div class="form-item-btn pull-left add-btn">
                <button type="button" class="my-btn my-btn-medium btn-blue" (click)="addUser()">+ 新增</button>
            </div>
            <div class="pull-right">
                <form class="flex-row" (keyup.enter)="doSearch()">
                    <div class="form-item">
                        <div class="form-item-label">关键词：</div>
                        <div class="form-item-control">
                            <input class="input-large" [(ngModel)]="searchName" name="searchName" placeholder="账号/姓名/手机号">
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-item-control form-item-btn">
                            <button type="button" class="my-btn my-btn-medium btn-blue" (click)="doSearch()">查询</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="my-table">
            <table mat-table [dataSource]="userArr">
                <ng-container matColumnDef="userCode" sticky>
                    <th mat-header-cell *matHeaderCellDef>账号</th>
                    <td mat-cell *matCellDef="let element" width="120" (click)="toPageDetail(element)">
                        <span class="color-blue cursor-pointer underline">{{element.userCode}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef>姓名</th>
                    <td mat-cell *matCellDef="let element" width="120">
                        <div class="userName ellipsis">{{element.userName}}</div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="userPhone">
                    <th mat-header-cell *matHeaderCellDef>手机号码</th>
                    <td mat-cell *matCellDef="let element" width="100">{{element.userPhone}}</td>
                </ng-container>

                <ng-container matColumnDef="userEmail">
                    <th mat-header-cell *matHeaderCellDef>邮箱</th>
                    <td mat-cell *matCellDef="let element" width="120"> {{element.userEmail}}</td>
                </ng-container>

                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef>状态</th>
                    <td mat-cell *matCellDef="let element" width="90">{{getLabel(element.state, userStateList)}}</td>
                </ng-container>

                <ng-container matColumnDef="createDate">
                    <th mat-header-cell *matHeaderCellDef>注册日期</th>
                    <td mat-cell *matCellDef="let element" width="135">{{element.createDate}}</td>
                </ng-container>

                <ng-container matColumnDef="opr" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef>操作</th>
                    <td mat-cell *matCellDef="let element" width="120">
                        <label class="underline color-blue cursor-pointer" (click)="toPageDetail(element)">查看</label>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickRow(row)"
                    [ngClass]="{'row-active': (curCheckedUser.userCode && row.userCode == curCheckedUser.userCode)}"></tr>
            </table>
            <!--分页-->
            <mat-paginator #paginator [length]="totalCount" [pageSize]="pageSize"
                           (page)="changeTaskPage($event)" [pageSizeOptions]="[10, 20, 30]"
                           showFirstLastButtons></mat-paginator>
        </div>
    </mat-card>
</div>
