@import "src/@notadd/scss/notadd";
@import "src/@notadd/scss/common";

.right-content {
    padding: 30px;

    .my-content {
        width: 100%;
    }

    .title{
        font-size: 14px;
        border-bottom: 1px solid #e0e0e0;
        padding: 0 18px 10px 18px;
    }

    .my-form{
        width: 600px;
        max-width: 100%;
    }
    .my-info {
        margin: 30px auto;
        width: 400px;
        max-width: 100%;
    }

    .form-item-label{
        width: 90px;
        text-align: right;
    }

    .btn-margin {
        margin: 20px auto;
        justify-content: center;
    }

    .btn-margin button{
        margin: 0 20px 0 0;
    }

    .example-radio-button{
        margin: 0 15px 0 15px;
    }

    .my-table table{
        width: 100%;
    }

    .save-btn-top{
        position: absolute;
        top: 20px;
        left: 320px;
        z-index: 1;
    }
    .save-btn-top button{
        margin:  0 20px 0 0;
    }

}

@include media-breakpoint('xs') {

    .right-content {
        padding: 10px 12px;

        .my-content {
            padding: 10px;
        }

        .input-medium{
            width: 160px !important;
            max-width: 100%;
        }
        .form-item{
            margin: 0 0 5px 0;
        }
        .btn-margin{
            margin: 15px auto;
           justify-content: center;
        }

        .save-btn-top{
            position: absolute;
            top: 20px;
            left: 210px;
            z-index: 1;
        }
        .save-btn-top button{
            margin:  0 10px 0 0;
        }
    }
}
