@import "src/@notadd/scss/notadd";
@import "src/@notadd/scss/common";

.right-content {
    padding: 30px;

    .my-content {
        width: 100%;
    }

    .title{
        font-size: 14px;
        border-bottom: 1px solid #e0e0e0;
        padding: 0 18px 10px 18px;
    }

    form{
        margin: 40px 0 0 60px;
    }

    .form-item-label{
        width: 90px;
        text-align: right;
    }

    .btn-margin {
        margin: 20px auto;
    }

    .btn-margin button{
        margin: 0 20px 0 0;
    }

    .example-radio-button{
        margin: 0 15px 0 15px;
    }

    .my-table table{
        width: 100%;
    }

    .save-btn-top{
        position: absolute;
        top: 20px;
        left: 350px;
        z-index: 1;
    }
    .save-btn-top button{
        margin:  0 20px 0 0;
    }

}

@include media-breakpoint('xs') {

    .right-content {
        padding: 15px;

        .my-content {
            padding: 15px 20px;
        }
    }
}
